
html{
    scroll-behavior: smooth;
    background-color: #749F82;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    height: 80px;
}

.header {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    z-index: 1;
    margin: 0;
    background-color: #425F57;
    max-height: 60px;
  }

/* Logo */
.Logo{
    position: relative;
  float: left;
  margin-left: 20px;
  height: 95px;
  width: 100px;
  padding-top: 8px;
  padding-bottom: 5px;
  display: flex;
}

/* Navigation */   
a {
    text-decoration: none;
}

nav {
    float: right;
    margin-right: 5px;
    margin-top: 15px;
    position: relative;
    z-index: 1;
}

nav ul li {
    margin: auto;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    width: 180px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

nav ul li a {
    text-shadow: 1px 1px 1px black;
    color: #CFFF8D;
}

/* Homepage */

.banner-service{
    height: 75vh;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    margin-top: 20px;;
}

h1{
    margin-top: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color: #425F57;
    float: center;
    color: #FFFFFF;
    padding: 20px;
    margin-bottom: 45px;
    box-shadow: 0 5px 12px rgba(32,32,32,.3);
    text-align: center;
}

.intro{
    height: 375px;
    width: 90vw;
    margin: auto;
    display: table;
	clear: both;
    background-color: #425F57; /* #F0F8FF */
    color: #FFFFFF;
    box-shadow: 0 5px 12px rgba(32,32,32,.3);
    border-bottom-right-radius: 70px;
    border-top-left-radius: 70px;
	margin-bottom: 10px;
}

.box0{
	width: 15vw;
	height: 300px;
	float: left;
	margin: auto;
	margin-top: 25px;
	margin-left: 40px;
    background-color: white; /* #F0F8FF */
	border-radius: 40px;
    box-shadow: 0 5px 12px rgba(32,32,32,.3);
}

.box0 p{
	font-size: 50px;
	color: #425F57;
}

/* Footer */
footer{
    background-color: #425F57;
    height: 360px;
    padding-top: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.section-4{
    width: 30%;
    height: 200px;
}


footer div p{
    color: #CFFF8D;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.footer-links ul{
    list-style-type: none;
}

.footer-links li{
    padding: 10px;
    list-style-type: none;
}

.footer-links a{
    color: #808080;
}

.Map{
    position: relative;
    width: 500px;
    height: 300px; 
    border:0; 
    bottom: 20px;
    right: 30px;
}


.Flower{
      padding-top: 100px;
      background-image:url(../css/homepageimage.jpg);  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      min-height: 370px;
}

.container{
	width: 90%;
	margin: auto;
}

.container-homepage1{
    float: right;
    width: 50%;
	margin: auto;
}

.welcome{
	text-align: center;
	color:		#425F57;
	padding-top: 0px;
	font-size: 50px;
	margin-bottom:10px;
	text-shadow: 1px 1px 1px black;
  font-weight: bold;
}

.purpose{
	text-align: center;
	color: 		#749F82;
	margin-top: 80px;
	font-size: 20px;
	padding-bottom: 280px;
    text-shadow: 0.5px 0.5px 0.5px black;
}